.grey-text {
    color: #666666;
}

// Post listing {{{
.meta-container {
    box-sizing: border-box;
}
// }}}

// TODO: redesign (Again)
.post-tag {

    background-color: $pink-background;
    color: $pink-background-text;
    padding: 2px;
    border-radius: 6px;
    border: 1px $pink-primary solid;
    box-sizing: border-box;
}

.post-tag:hover {
    background-color: $pink-hover;
}

// Articles and article lists {{{

.posts > article {
    border-bottom: 2px solid $pink-primary;
}

article {
    //@extend .shade-box;

    padding-bottom: 3px;
    margin-bottom: 15px;
    h2 {
        a {
            text-decoration: none;
        }
        border-bottom: none !important;
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
    }

    div.meta-container {
        margin-bottom: 5px;
    }

    div.ingress {
        //padding-left: 2%;
        padding-bottom: 15px;
        p {
            font-size: 1.25rem;
            margin: 0;
        }
    }

    #author-wrapper {
        margin: 16px 0;
    }
}
// }}}
// Author highlight {{{
.accent-border {
    //border: 1px solid $pink-primary;
    border: ridge 2px $pink-primary;
}
// }}}
// Link lists {{{
.link-list {
    border: 2px solid #e1e1e1;
    border-radius: 10px;
    box-sizing: border-box;
    .header h2 {
        border: none;
        padding: 12px;
        margin: 0;
        box-sizing: border-box;
    }

    .series-list {
        gap: 0;

        a {
            // This is corrected later with the underline span
            // Otherwise, there's an underline for the space
            // between the part index and the title, which is
            // stupid
            text-decoration: none;
            border-top: 2px solid #e1e1e1;
            font-size: 1.15rem;
            padding: 12px;
            margin: 0;
            box-sizing: border-box;

            .part-number {
                display: inline-block;
                width: calc(2 * 1.15rem);
                height: calc(2 * 1.15rem);
                line-height: calc(2 * 1.15rem);
                border: 2px solid $pink-primary;
                border-radius: 100%;
                text-align: center;
                margin-right: 3px;
            }

            &.active {
                font-weight: 650;
                .part-number {
                    background: lighten($pink-primary, 10%);
                    color: black;
                }

            }
        }
    }
}
// }}}
