#toc {
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid $pink-primary;
    border-radius: 8px;

    // I'm not sure why this surprises me, but changing the shadow colour from black
    // to something else makes it feel more vibrant when combined with a border. Kinda neon-y
    // I really need to fuck around with box-shadow at some point. Could make some neat stuff
    // with this thing
    box-shadow:
        0 7px 14px transparentize($pink-primary, 0.71),
        0 3px 3px transparentize($pink-primary, 0.67);

    h2 {
        margin-top: 0px;
        border: none;
    }
}


