---
{
    "title": "Today I learned"
}
---

<p>This section contains various small things I've learned at some point, but that isn't big enough to warrant a full blog post.
  Parts of the TIL are a public port (or outright copy) of my private notes, though some of them are exclusively written here.
</p>

{# values: "folder name": "Display name in header" #}
{% set folders = {
    "cmake": "CMake",
    "cpp": "C++",
    "emacs": "Emacs",
    "firefox": "Firefox",
    "git": "Git",
    "java": "Java",
    "krita": "Krita",
    "linux": "Linux",
    "lua": "Lua",
    "mssql": "MSSQL (SQL Server)",
    "nginx": "nginx",
    "ssh": "SSH",
    "wsl": "WSL"
} %}

<h2>Table of Contents</h2>

<ul>
    {% for scope, display in folders %} 
        <li><a href="#{{scope}}">{{ display }}</a></li>
    {% endfor %}
</ul>

{% for scope, display in folders %}
    <h2 id="{{ scope }}">{{ display }}</h2>
    {% include "partials/list-pages-in-scope.inja" %}
{% endfor %}

