<footer class="page-footer">
    <div class = "container">
        <div class="row">
            <div class = "col l6 s12">
                <h5 class = "white-text">Meta</h5>
                <p class = "grey-text text-lighten-4">This site uses <a href = "https://materializecss.com/" rel = "nofollow noreferrer">materialize</a>.</p>
            </div>
        </div>
        
        <div class="footer-copyright">
            <div class="container">
            &copy; 2018 Olivia Zoe
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="assets/css/materialize/js/bin/materialize.min.js"></script>

<script type="text/javascript" src="assets/js/functions.js"></script>