<header>
    <nav class="nav-container">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">{{site.name}}</a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/kb.html">Knowledge base</a></li>
                <li><a href="/emojis.html">Emoji reference</a></li>
            </ul>
        </div>
        <ul class="sidenav" id = "mobile-nav">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/kb.html">Knowledge base</a></li>
            <li><a href="/emojis.html">Emoji reference</a></li>
        </ul>
    </nav>
</header>
