.projact {
    background-color: lighten(green, 20%);
}
.projside {
    background-color: darken(#ffeb52, 7%);
}
.projmain {
    background-color: #d6efff;
}
.projin {
    background-color: lighten(#FF073A, 10%);
    color: #fff;
}
.projpat {
    background-color: #ecbfff;
}
.projaban {
    background-color: #969696;
    color: #fff;
}
.projdead {
    background-color: #696969;
    color: #fff;
}
