/*
Dear past me...
The fuck is this garbage?

The CSS is so fucking messy it makes international politics look
like something someone literally born yesterday could do.
Fix your shit
Thanks,
Future you.

P.S.: The fuck?!
 */
@import "syntax.scss";

// Primary
$grey-primary: #1C1C1B;
$grey-selected: #10100F;

// Secondary
$red-primary: #A2151A;
// Highlight
$pink-primary: #EC8DE3;
$pink-secondary: #F17EB2;

$pink-light: #e00d93;

$white-primary: #efefef;

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, ol, ul {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, ol, ul {
    margin-bottom: 15px;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}


.footer {
    * {
        margin-top: 15px;
    }
}

.center-header {
    text-align: center;
    border-bottom: none !important;
}

body {
    font: 400 16px/1.5 -apple-system,BlinkMacSystemFont,
        "Segoe UI",Roboto,Helvetica,Arial,sans-serif,
        "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-kerning: normal;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

ul.pagination {

    display: flex;
    justify-content: center;
    margin: 1em 0 0;
    padding: 0.5em 0;
    list-style: none;

    li:before {
        content: "";
    }

}

ul.pagination li {
    padding: 0 1em;
}

// Elements
blockquote{
    padding: 11px 0px 9px 10px !important;
    * {
        margin: 0px;
    }
    border-left: 4px solid $pink-primary;

    background-color: #ffe8f6;
    border-radius: 4px;
}

a, a:visited {
    color: $pink-light !important;
}
a:hover {
    color: $pink-secondary !important;
}

// Bullet what?
.bullet {
    list-style: disc;
}

// The fuck kind of name is this?
.null-list {
    list-style: none;
    li:before {
        content: "" !important;
    }
}

// WHY?!
ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    li {
        padding-left: 1em;
        text-indent: -1em;
    }

    li:before {
        content: "♡";
        padding-right: 5px;
    }
}

ol {
    margin-left: 30px;
}


.center {
    text-align: center;
}

// Fantastic job.
.pad20px-topbot {
    padding: 20px 0;
}

a {
    text-decoration: none;
}

// Dupes?
h1, h2, h3, h4, h5, h6 {
    color: $grey-primary;
    font-weight: 400;
}
h1, h2 {
    border-bottom: 1px solid #d1d1d1;
}

.nav-container {
    h1, h2 {
        border-bottom: 0px !important;
        padding: 0px;
        margin: 0px;
    }

}

// Navigation

.page-footer, .nav-container, .primary-theme {
    line-height: 64px;
    background-color: $grey-primary;
    color: $white-primary;
    overflow: auto;

    a, a:visited {
        color: $pink-primary !important;
    }

    a:hover {
        color: $pink-secondary !important;
    }
}

.page-footer {
    line-height: 1.5;
    display: inline-block;
    padding: 20px;
    > * {
        padding: 0px;
    }
}

.nav-header {
    float:left;
    display: block;
}

// Just use flexbox, dipshit. This isn't the dark ages.
.right {
    display: block;
    float: right !important;
}

.left {
    display: block;
    float: left !important;
}

header nav {

    line-height: 64px;
    height: 64px;

    ul li, .nav-header {
        float: left;
        line-height: 64px;
    }
}
// Why do you do this to me?
.sidenav {
    @extend .primary-theme;
    float: none;
    display: block;
    height: 100% !important;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 1s;
    padding: 0px;
    padding-top: 60px;

    a {
        padding: 0 24px;
        transition: 0.5s;
        display: block;
        line-height: 64px;
    }

    .close {
        position: absolute;
        top: 0;
        right: 20px;
        font-size: 36px;
        margin-left: 50px;
    }
}

.sidenav-trigger {
    @extend .right;
    display: none;
    cursor: pointer;
    font-size: 30px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;

        a {
            font-size: 18px;
            display: inline-block;
        }
    }
}

@media screen and (max-width: 670px) {
    .topnav { display: none; }
    .sidenav-trigger { display: inline-block !important; }
    .sidenav { padding-top: 60px; }
}


.topnav {
    font-size: 20px;

    a {
        display: inline-block;
        padding: 0 15px;
        line-height: 64px;
    }

    a:hover {
        background-color: $grey-selected;
    }
}

// The fuck, could you possibly make the names on these any more vague?
.container, .toc-container{
    margin: 0 auto;
    width: 90%;
}
@media only screen and (min-width: 600px) {
    .container, .toc-container {
        width: 85%;
    }
}
@media only screen and (min-width: 990px) {
    .container, .toc-container {
        width: 70%;
    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main, .toc-container {
    display: block;
    flex: 1 0 auto;

    .container {
        margin-top: 20px;
        margin-bottom: 20px;
    }

}

// Spoilers {{{

.spoiler {
    background-color: $pink-secondary;
    transition: .5s ease-in;

    > * {
        opacity: 0;
        transition: opacity .5s ease-in;
    }
}

blockquote.spoiler {
    border-left: 4px solid $pink-primary;
    padding: 10px 15px 10px 15px;
}

.spoiler:hover, .spoiler:active {
    > * {
        opacity: 1;
    }
    background-color: $white-primary;
    color: #1f1f1f;

}
// }}}

// Link stuff {{{
a.btn {
    background-color: $pink-primary;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    color: #000 !important;
    display: inline-block;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    transition: .5s ease-in;
}

a.btn:hover {
    background-color: $pink-light;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: $white-primary !important;
    background-color: $grey-primary;
}
// }}}

h3, h4, h5, h6 {
    font-weight: bold;
}

// Blogging

.meta {
    font-size: 12px;
}

.grey-text {
    color: #666666;
}

.post-meta {
    font-size: 14px;
    color: #828282 !important;
}

div.article {
    padding-bottom: 3px;
    border-bottom: 1px dashed black;
    h1 {
        border-bottom: none !important;
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
    }
}

// who in the fuck thought 6px is readable?!
.cardinality > text {
    font-size: 12px;
}

.target-highlight:target, h1:target, h2:target, h3:target, h4:target, h5:target, h6:target {
    background-color: #ffedd9;
    transition-duration: 2s;
    &::after {
        content: " (URL redirected here)";
        font-size: 10px;
        float: right;
        padding-top: 1.1%;
    }
}

// Table of contents
@media screen and (min-width: 1088px) {
    .toc h2 {
        border-bottom: none !important;
    }
}

@media screen and (min-width: 1212px) {
    main {
        display: flex;
        align-items: flex-start;
    }
    #content {
        padding: 4px;
        /*margin-left: 309px; /* Factors in the padding from .toc-container */
    }
    .toc-container {
        width: 289px !important;
        align-self: flex-start;
        top: 0;
    }
}
@media screen and (max-width: 1211px) {
    .toc-container {
        float: none !important;
        margin: 0 auto;
    }
}
.toc-container {
    padding: 10px;
    overflow: visible;
    flex: 0 1 auto;
}

#TableOfContents {
    font-size: 13px !important;
    overflow: auto;
}

#TableOfContents ul ul {
    margin-bottom: 0px;
}

#TableOfContents > ul > li > ul > li > a {
  font-weight: bold;
}

#TableOfContents > ul > li > ul > li > ul > li > ul > li > ul > li  {
    display: none;
}

// tables {{{
table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
}
table {
    margin-top: 2px;
    margin-bottom: 8px;
}
// }}}
// Flexbox {{{
// TODO: merge the tag flexbox and the home page flexbox
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.flex-col {
    @extend .flex-container;
    flex-direction: column;
}
.flex-nowrap {
    flex-wrap: none;
}
.flex-nostretch {
    align-items: flex-start;
    align-content: flex-start;
}
.flex-box {
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
}
.flex-item {
    flex: 1 1 300px;
    min-width: 300px;

}
.flex-item-box {
    // Use the flex-basis you dense little fuck.
    // `auto` is bad for your health
    flex: 1 1 320px;
    min-width: 320px !important;
    padding-left: 4px;
    padding-right: 4px;

}
.flex-box-tab {
    background-color: lighten($pink-primary, 20%);
    padding: 4px;
    border-radius: 5px;
    
}
p.flex-box-name  {
    font-size: 1.5em;
}

// }}}
// Table v2 {{{
.plain-table-container > table {
    border-style: none;
    * {
        border-style: none;
    }
    th {
        padding-right: 2cm;
    }

}
tbody tr th {
    text-align: left;
}
// }}}
// Fancy link shit {{{
.button, .button:visited, button:active {
    @extend .shade-box;
    background-color: $pink-secondary;
    color: white !important;
    padding: 4px;
    margin: 10px !important;
    border-radius: 2px;
    font-size: 1.5em;
}
.shade-box {
    box-shadow: 0 7px 14px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
    padding: 10px;
}
// }}}
// Generic shit {{{
.pad2px { padding: 2px; }
// }}}
// Post listing {{{
.meta-container {
    margin-bottom: 9px;
    border-bottom: dotted 1px black;
}
// }}}
// vim:sw=4
