<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#">
        {{ partial "head.html" . }}
    </head>

    <body>
        {{ partial "header.html" . }}
   
        <main>
        
            {{ if .Params.date }}
            <article
            {{ else }}
            <div
            {{ end }}
                class="container" id="content">
                {{ block "main" . }}
                {{ end }}
            {{ if .Params.date }}
            </article>
            {{ else }}
            </div>
            {{ end }}
        </main>
        
        {{ partial "footer.html" . }}
    </body>
</html>

