{{ define "main" }}

<section id="list">

    {{ $baseurl := .Site.BaseURL }}

    {{ if and (eq .Data.Singular "tag") (not (eq .Title "Tags")) }}
        <h1>Posts tagged {{ .Title | lower }}</h1>

        {{ with .OutputFormats.Get "RSS" }}
            <p><a href="{{ .RelPermalink }}">Subscribe to this tag</a></p>
        {{ end }}

        <hr />
    {{ else }}
        <h1>{{ .Title }}</h1>
        {{ with .OutputFormats.Get "RSS" }}
            <p>Want updates? <a href="{{ .RelPermalink }}">Subscribe to this blog</a>.</p>
            <hr />
        {{ end }}
    {{ end }}
    {{ .Content }}

    {{ range (.Paginate (.Data.Pages.GroupByDate "2006") 20).PageGroups  }}

    <div class="posts">
        {{ range .Pages }}
            {{ partial "post-listing.html" . }}
        {{ end }}
    </div>
    
    {{ end }}

</section>

{{ template "_internal/pagination.html" . }}

<!--
vim:ft=liquid
-->
{{ end }}
