{{ define "main" }}

<section id="list">

    {{ $baseurl := .Site.BaseURL }}

    {{ if and (eq .Data.Singular "tag") (not (eq .Title "Tags")) }}
        <h1>#{{ .Title | lower }}</h1>
    {{ else }}
        <h1>{{ .Title }}</h1>
    {{ end }}
    {{ .Content }}

    {{ range (.Paginate (.Data.Pages.GroupByDate "2006") 20).PageGroups  }}

    <div class="posts">
        {{ range .Pages }}
        <div class="article">
            <h2><a href="{{ .Permalink }}">{{ if .Draft }}{{ T "draft" }}: {{ end }}{{ .Title | markdownify }}</a></h2>
            <div class="meta-container">
                {{ if .Params.Category }}
                    <br><span class="post-meta">Post type: {{ .Params.Category }}</span>
                {{ end }}
                Posted <time>{{ partial "dformat.html" . }}</time>
            {{ if isset .Params "tags" }}
                / {{ partial "tags.html" . }}
            {{ end }}
            {{ if isset .Params "series" }}
                / Posted in {{ partial "series.html" . }}
            {{ end }}
            </div>
            <p>{{ .Summary }}</p>
            <div>
                <a href="{{ .RelPermalink }}">Read More...</a>
            </div>
        </div>
        {{ end }}
    </div>
    
    {{ end }}

</section>

{{ template "_internal/pagination.html" . }}

<!--
vim:ft=liquid
-->
{{ end }}
