{{ define "main" }}

<section id="list">

    {{ $baseurl := .Site.BaseURL }}

    {{ if and (eq .Data.Singular "tag") (not (eq .Title "Tags")) }}
        <h2>#{{ .Title | lower }}</h2>
    {{ else }}
        <h2>{{ .Title }}</h2>
    {{ end }}
    {{ .Content }}

    {{ range (.Paginate (.Data.Pages.GroupByDate "2006") 20).PageGroups  }}

    <div class="posts">
        {{ range .Pages }}
        <div class="article">
            <h1><a href="{{ .Permalink }}">{{ if .Draft }}{{ T "draft" }}: {{ end }}{{ .Title | markdownify }}</a></h1>
            <div class="meta-container">
                <time class="post-meta">{{ partial "dformat.html" . }}</time><br>
                {{ if .Params.Category }}
                    <br><span class="post-meta">Post type: {{ .Params.Category }}</span>
                {{ end }}
                {{ if .Params.Tags }}
                    {{ partial "tags.html" . }}
                {{ end }}
                {{ if .Params.series }}
                    {{ partial "series.html" . }}
                {{ end }}
            </div>
            <p>{{ .Summary }}</p>
            <div>
                <a href="{{ .RelPermalink }}">Read More...</a>
            </div>
        </div>
        {{ end }}
    </div>
    
    {{ end }}

</section>

{{ template "_internal/pagination.html" . }}

<!--
vim:ft=liquid
-->
{{ end }}
