---
---
@import "materialize/sass/materialize.scss";
@import "{{ site.theme }}";

$grey-darken-3-alias: #424242;

blockquote{
    border-left: 4px solid $grey-darken-3-alias;
}

a{
    color: #e8282a !important;
}

a:hover{
    @extend .red-text, .text-lighten-1;
}


.page-footer, .nav-wrapper, .nav-container {
    @extend .grey, .darken-4;
}

h1, h2, h3, h4, h5, h6{
    @extend .pink-text, .text-lighten-2;
    

}

h1, h2{
    border-bottom: 1px solid #d1d1d1;
}
