{{ define "main" }}

<section id="list">

    {{ $baseurl := .Site.BaseURL }}

    {{ if and (eq .Data.Singular "tag") (not (eq .Title "Tags")) }}
        <h2>#{{ .Title | lower }}</h2>
    {{ else }}
        <h2>{{ .Title }}</h2>
    {{ end }}
    {{ .Content }}

    <div class="tag-list">
        {{ range .Pages }}
        <div class="tag-container">
            <p><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></p>
            {{ if .Params.description }}
                <p>{{.Params.description}}</p>
            {{ end }}
        </div>
        {{ end }}
    </div>

</section>

{{ end }}
