{{ define "main" }}

<section id="list">

    {{ $baseurl := .Site.BaseURL }}

    <h2>{{ .Title }}</h2>

    {{ .Content }}

    <div class="flex-horizontal">
        {{ range .Pages }}
        <div class="shade-box" style="min-width: 200px; flex: 0 1 200px;">
            <p><a href="{{ .Permalink }}">{{ .Title | markdownify | lower }}</a> ({{ .Site.Taxonomies.tags.Count .Title }})</p>
            {{ if .Params.description }}
                <p>{{ .Params.description }}</p>
            {{ end }}
        </div>
        {{ end }}
    </div>

</section>

{{ end }}
