<!-- Boring metadata -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
<meta http-equiv="Content-language" content = "en-US"/>

<!-- Visible metadata -->
<title>{{ .Title }} | {{ .Site.Title }}</title>
<!-- Scripts and stylesheets -->
<script src="{{ (resources.Get "js/jquery.min.js").Permalink }}"></script>
{{ if .Params.mermaid }}
<script src="{{ (resources.Get "js/mermaid.min.js").Permalink }}"></script>
{{ end }}

{{ $base := resources.Get "scss/style.scss" }}
{{ $style := $base | resources.ToCSS | resources.Minify }}
<link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}" />

<link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ "/blog/feed.xml" | absURL }}" />

