<!-- Boring metadata -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
<meta http-equiv="Content-language" content = "en-GB"/>
<meta name="google-site-verification" content="LcVM28dDCQR2BheUMJZ7wcfvXxSRqurrQ4u4G2g1b2s" />

<link rel="canonical" href="{{ .Permalink }}">

<!-- Visible metadata -->
<title>{{ .Title }} | {{ .Site.Title }}</title>
<!-- Scripts and stylesheets -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{{ if .Params.mermaid }}
<script src="https://unpkg.com/browse/mermaid@8.8.0/dist/mermaid.min.js"></script>
{{ end }}

{{ $base := resources.Get "scss/style.scss" }}
{{ $style := $base | resources.ToCSS | resources.Minify }}
<link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}" />

<link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ "/blog/feed.xml" | absURL }}" />

<!-- OpenGraph ((( -->
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:url" content="{{ .Permalink }}" />
{{ if .Params.description }}
<meta property="og:description" content="{{ .Params.description }}" />
{{ else }}
<meta property="og:description" content="{{ .Summary }}" />
{{ end }}
<meta property="og:site_name" content="{{ site.Title }}" />
<meta property="og:locale" content="{{ site.LanguageCode }}" />
<!-- This falls under public domain -->
<meta property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/LGBT_Rainbow_Flag.png/1280px-LGBT_Rainbow_Flag.png" />
<!-- ))) -->
<!-- Twitter cards because standards ((( -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:creator" content="@{{ .Site.Params.twitter }}" />
<!-- ))) -->
<!--
vim:fmr=(((,)))
-->
