<div class="flex-vertical flex-shrink flex-smallgap small-paragraphs">
    <p class="flex-shrink"><b>Tags:</b>
    <span>
        {{ if isset .Params "tags" }}
            {{ partial "tags.html" . }}
        {{ end }}
    </span>
    </p>
    <p>Share this post: <a href="#" onclick="javascript:copyLink(event, {{ .Permalink }})">Copy link</a></p>
</div>

{{ if not .Params.nocomments }}
    <div class="comments">
        <h2 style="padding-top: 20px !important;">Comments</h2>
        <i><p>Note that all comments are required to follow the <a href="https://github.com/LunarWatcher/lunarwatcher.github.io/blob/master/.github/CODE_OF_CONDUCT.md">code of conduct</a></p></i>

        <script src="https://giscus.app/client.js"
                data-repo="lunarwatcher/lunarwatcher.github.io"
                data-repo-id="MDEwOlJlcG9zaXRvcnkxMjc0NTg5OTU="
                data-category="GitHub comments"
                data-category-id="DIC_kwDOB5jes84Ci3cu"
                data-mapping="pathname"
                data-strict="0"
                data-reactions-enabled="1"
                data-emit-metadata="0"
                data-input-position="bottom"
                data-theme="light"
                data-lang="en"
                crossorigin="anonymous"
                async>
        </script>
        <noscript>You've disabled JavaScript, which the comment system makes use of to load them on the site. The comment threads can be found <a href="https://github.com/LunarWatcher/lunarwatcher.github.io/discussions/categories/github-comments">in the issues for this repo</a>, if you don't trust this site and/or utterances. Note that unless someone has already commented, there isn't an issue made for this page yet.</noscript>
    </div>
{{ end }}
