{{ $taxonomy := "series" }}
{{ $currLink := .Permalink }}
{{ if isset .Params $taxonomy }}
<div class="link-list container">
    <!--
    Pick the first series. There will only ever be one
    if the series is set
    -->
    {{ $series := (index (.Param $taxonomy) 0) }}

    <div class="header">
        <h2>{{ $series }} ({{ .Site.Taxonomies.series.Count ($series | urlize) }} part series)</h2>
    </div>
    <div class="series-list flex-vertical">
        {{ range $idx, $page := (sort (index .Site.Taxonomies.series ($series | urlize)) ".Date" "asc") }}
        <a href="{{ $page.Permalink }}"
            {{ if eq $page.Permalink $currLink }}
            class = "active"
            {{ end }}
        >

            <span class="part-number">
            {{ (math.Add $idx 1) }}
            </span>
            <span class="underline">
                {{ $page.Title }}
            </span>
        </a>
        {{ end }}
    </div>
</div>
{{ end }}
