<ul>
    <li class="target-highlight" id="somediscord"><a href="https://discord.gg/{{ .Site.Params.discord }}">Discord server</a></li>
    <li class="target-highlight" id="somediscordusr">Discord username: {{.Site.Params.discord_user}}</li>
    <li class="target-highlight" id="somegithub"><a href="https://github.com/LunarWatcher">GitHub</a></li>
    <li class="target-highlight" id="somedeviantart"><a href="https://{{.Site.Params.deviantart}}.deviantart.com">DeviantArt</a></li>
    <li class="target-highlight" id="someblog"><a href="https://lunarwatcher.github.io/posts/feed.xml">Blog RSS feed</a></li>
</ul>
