<html>
    <head>
        <meta charset="utf-8">
        <title>
            {% if page.fullTitle.size > 0 %}{{ page.fullTitle }}
            {% elsif page.title.size > 0 %}{{ page.title }} | {{ site.title }}
            {$ else }{{ page.name }}
        </title>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    </head>
    
    <body>
        
        <header>
            <p>This is the header</p>
        </header>
        
        <main>
         {{ content }}
        </main>
        
        <footer>
            <p>Und das ist die Fußzeile</p>
        </footer>
    </body>
    
    
</html>
