<html>
    <head>
        <meta charset="utf-8">
        <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    </head>
    
    <body>
        
        <header>
            <p>This is the header</p>
        </header>
        
        <main>
            <p>Note: This site literally just finished compiling. It's bound to be broken af 'til it's fixed</p>
         {{ content }}
        </main>
        
        <footer>
            <p>Und das ist die Fußzeile</p>
        </footer>
    </body>
</html>
