---
layout: default
---

<div id="post-container">

    {{ content }}
    <hr>
    {% if site.posts.size > 0 %}
    <h2 style="padding-bottom: 20px;" id = "recent-posts">Recent posts</h2>
    <ul id="post-list">
        {% for post in site.posts %}
        <li>
            {% assign date_format = "%-d %b, %Y" %}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            {% if post.summary %}{{post.summary}}{% else %}{{ post.excerpt }}{% endif %}
        </li>
        {% endfor %}
    </ul>

    <p id="rss">Subscribe via <a href="{{site.baseurl}}/feed.xml">RSS</a></p>

    {% else %}
    <div style="padding-top: 20px; padding-bottom: 20px;">
        <h1>No posts</h1>
        <p>Nothing has been posted yet :c Check back later.</p>
    </div>
    {% endif %}

</div>
